body {
    background-color: rgb(240, 214, 220);
    text-align: center;
    margin: auto;
    max-width: 700px;
}

h1 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: rgb(104, 64, 74);
    line-height: 1.2;
}

form {
    border: 1px solid rgb(243, 224, 228);
    border-radius: 35px;
    background-color: rgb(243, 224, 228);
    padding: 30px;
    box-shadow: 4px 4px rgba(100, 50, 69, 0.08);
}

.instructions {
    width: 50%;
    padding: 15px;
    border: 1px solid rgb(243, 224, 228);
    border-radius: 35px;
    background-color: rgb(240, 214, 220);
    font-family: monospace;
    font-size: 15px;
    line-height: 1.2;
    box-shadow: 3px 3px rgba(100, 50, 69, 0.08);
    outline: none;
}

.submit-button {
    margin-left: 10px;
    padding: 15px;
    border: 1px solid rgb(243, 224, 228);
    border-radius: 35px;
    background-color: rgb(104, 64, 74);
    color: rgb(243, 224, 228);
    font-family: monospace;
    font-size: 15px;
    width: 18%;
    box-shadow: 4px 4px rgba(100, 50, 69, 0.08);
}

.submit-button:hover {
    cursor: pointer;
    transition: 350ms ease-in-out;
    background: rgb(240, 214, 220);
    color: rgb(104, 64, 74);
}

.hint {
    position: relative;
    top: -25px;
    right: 125px;
    color: rgba(39, 7, 19, 0.288);;
    font-family: monospace;
    font-size: 12px;
 }    
 
.poem {
    border: 1px solid rgb(243, 224, 228);
    border-radius: 3px;
    background-color: rgb(243, 224, 228);
    padding: 10px;
    box-shadow: 4px 4px rgba(100, 50, 69, 0.08);
    font-family: monospace;
    font-size: 15px;
    color: rgb(104, 64, 74);
    margin-bottom: 40px;
    margin-top: 40px;
    line-height: 24px;
}
  
poem {
    color: rgb(104, 64, 74);
}

.hidden {
display: none;
}

.poem em {
    color: rgb(170, 141, 141);
}
footer {
    font-family: monospace;
    font-size: 13px;
    color: rgb(170, 141, 141);
    margin-top: 20px;
}   

 a {
    color: rgb(104, 64, 74);
 }

 